<%= partial "banner" %>

<div class="services-content-container">
	<div class="selectable-list-container">
		<div class="selectable-list-title">
			<h3>Vehiculos de Varios Tamanos</h3>
		</div>
		<ul class="selectable-list" data-type="services-list"/>
	</div>
	<div class="selectable-list-description"/>
</div>